fieldset 				{border: 1px solid #000; padding:10px;}
legend				{font-size:18px; padding:2px 15px; border:1px solid #666; background-color: #0069D6; color:#fff; line-height:100%; margin-bottom:0; width:auto; }

.mfborder			{border:1px solid #bbb; padding:5px;}

div#folderinfo		{background-color:#eee; font-family:monospace; font-size:medium;}
div#mb_ajx			{height:30px; margin:5px 0;}
div#mb_folderlist	{max-height:300px; margin:5px 0; overflow:auto;}
div#mb_admin_user	{margin-bottom:10px;}
div#mb_editcontrols	{margin:5px 0 20px 0}

div#mb_editcontrols img { vertical-align:middle;}

.mb_fbtns, .mb_filebtns					{background-color: #DDD; border: 1px solid #444; margin-right: 5px; padding: 8px; }
.mb_fbtns:hover, .mb_filebtns:hover		{background-color: #ccDDFF;}
.fldr_link			{padding:3px 8px; font-weight: bold;}
.fldr_select		{margin:1px 8px;}
.mf_small			{font-size:0.8em;}
.mf_error			{color:red;}

/* column */
.leftcol {width:110px; display:inline-block}

/*tables */
table.tblfiles		{border-collapse: collapse; border-spacing: 0;}
table.tblfiles tr.hdr	{border-bottom:1px solid #ccc; }
table.tblfiles th		{text-align: left; padding: 2px 6px; vertical-align: top; }
table.tblfiles td		{padding: 2px 6px; vertical-align: top; }
table.tblfiles td.cnt	{text-align: center;}

.image_submit 		{vertical-align:middle; padding:5px; background:transparent;border:0px;}
.hidden, .busy		{display:none;}
.shown				{display:block;}
.filesmsg			{padding:5px; margin-top:20px; text-align: center; font-size:1.5em;}